@{
    Layout = "_Layout";
}
<h2>Final Approval</h2>

<table class="table table-bordered">
    <tr><th>Claim ID</th><th>Description</th><th>Action</th></tr>
    <tr>
        <td>1</td>
        <td>Lecture hours for September</td>
        <td>
            <button class="btn btn-success">Final Approve</button>
            <button class="btn btn-danger">Reject</button>
        </td>
    </tr>
</table>

