@{
    Layout = "_Layout";
}
<h2>Submit Claim</h2>

<form>
    <label>Description:</label>
    <input type="text" class="form-control" /><br />

    <label>Hours Worked:</label>
    <input type="number" class="form-control" /><br />

    <label>Upload Document:</label>
    <input type="file" class="form-control" /><br />

    <button type="button" class="btn btn-primary">Submit Claim</button>
</form>

<hr />
