@{
    Layout = "_Layout";
}
<h2>Track Claim</h2>

<table class="table table-bordered">
    <tr><th>Claim ID</th><th>Description</th><th>Status</th></tr>
    <tr><td>1</td><td>Lecture hours for September</td><td>Submitted</td></tr>
    <tr><td>2</td><td>Tutorials for September</td><td>Approved</td></tr>
</table>


